@{
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
    ViewData["Title"] = "Update sportsman";
}
@model CoreFramework.Sportsman

<div class="row justify-content-lg-cehter">
    <h1>Update sportsman</h1>
</div>
@using (Html.BeginForm("Update", "Sportsmans", FormMethod.Post))
{
<fieldset>
    <div asp-validation-summary="ModelOnly"></div>
    @Html.HiddenFor(m => m.ID)
    <p>
        @Html.LabelFor(m => m.Surname, "Surname")
        <br />
        @Html.EditorFor(m => m.Surname)
    </p>
    <p>
        @Html.LabelFor(m => m.Name, "Name")
        <br />
        @Html.EditorFor(m => m.Name)

    </p>
    <p>
        @Html.LabelFor(m => m.idTitle, "Title")
        <br />
        <select asp-for="idTitle" class="form-control">
            <option selected="selected" value=" @Html.EditorFor(m => m.Title.Name)">  </option>
            @foreach (var title in CoreFramework.ConnectionUser.GetTitles().ToList())
            {
                <option value="@title.idTitle">@title.Name</option>
            }

        </select>
    </p>
    <p>
        @Html.LabelFor(m => m.Height, "Height")
        <br />
        @Html.EditorFor(m => m.Height)
    </p>
    <p>
        @Html.LabelFor(m => m.idCommand, "Command")
        <br />
        <select asp-for="idCommand" class="form-control">
            <option selected="selected" value=" @Html.EditorFor(m => m.Command.Name)">  </option>
            @foreach (var command in CoreFramework.ConnectionCommands.GetCommands().ToList())
            {
                <option value="@command.idCommand">@command.Name</option>
            }
           
        </select>
    </p>
    <p><input type="submit" value="OK" /></p>
</fieldset>
}
<div>
    <a asp-action="Index">Back to sportsmans list</a>
</div>
