@{
    ViewData["Title"] = "Sportsman";
}
@model CoreFramework.Sportsman

@using (Html.BeginForm("ViewerView", "Sportsmans", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        <p>
            @Html.LabelFor(m => m.Surname, "Surname")
            <br />
            @Html.EditorFor(m => m.Surname)
        </p>
        <p>
            @Html.LabelFor(m => m.Name, "Name")
            <br />
            @Html.EditorFor(m => m.Name)

        </p>
        <p>
            @Html.LabelFor(m => m.Title.Name, "Title")
            <br />
            @Html.EditorFor(m => m.Title.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Height, "Height")
            <br />
            @Html.EditorFor(m => m.Height)
        </p>
    </fieldset>
}
<div>
    <a asp-action="Viewer">Back to sportsmans list</a>
</div>

