@{
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
    ViewData["Title"] = "Update result";
}
@model CoreFramework.ResultCompetition

<div class="row justify-content-lg-center">
    <h1>Update result</h1>
</div>
@using (Html.BeginForm("Update", "Result", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.Command)
    <p>
        @Html.LabelFor(m => m.Command.Name, "Command")
        <br />
        <select asp-for="Command.Name" class="form-control">
            <option selected="selected" value=" @Html.EditorFor(m => m.Command.Name)">  </option>
            @foreach (string command in CoreFramework.Connection.GetNameCommands())
            {
                <option>@command</option>
            }

        </select>
    </p>
    <p>
        @Html.LabelFor(m => m.Competition.Name, "Competition")
        <br />
        <select asp-for="Competition.Name" class="form-control">
            <option selected="selected" value=" @Html.EditorFor(m => m.Competition.Name)">  </option>
            @foreach (string compet in CoreFramework.Connection.GetNameCompets())
            {
                <option>@compet</option>
            }

        </select>
    </p>
    <p>
        @Html.LabelFor(m => m.Rank, "Rank")
        <br />
        @Html.EditorFor(m => m.Rank)
    </p>
    <p><input type="submit" value="OK" /></p>
</fieldset>
}
<div>
    <a asp-action="Index">Back to results list</a>
</div>
