@{
    Layout = "~/Views/Shared/_LayoutSponsor.cshtml";
    ViewData["Title"] = "Command";
}
@model List<Core.Command>
<h2>Commands</h2>
<div class="row">
    @foreach (var command in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div>
                        <img class="card-img-top" width="300" height="300" src="@command.Image"
                             alt="@command.Name" />
                    </div>

                    <div>
                        Название команды: @command.Name <br />
                        Количество человек: @command.Count <br />
                        Город: @command.City <br/> <br/>
                    </div>

                    <div class="text-center">
                        <a class="btn btn-primary" asp-controller="Commands"
                           asp-action="SportsmanCommand" asp-route-id="@command.ID" role="button">
                            View
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>