@{
    ViewData["Title"] = "Command";
}
<h2>Commands</h2>
<div class="row">
    @foreach (Final_Project_ASP_MVC.Core.Command command in Model)
    {
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div>
                        <img class="card-img-top" width="300" height="300" src="@command.Image"
                             alt="@command.Name" />
                    </div>

                    <div>
                        <p class="font-weight-normal">Название команды: @command.Name</p>
                    </div>
                    <div>
                        <p class="font-weight-normal">Количество человек: @command.Count</p>
                    </div>
                    <div>
                        <p class="font-weight-normal">Город: @command.City</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>