@{
    Layout = "~/Views/Shared/_LayoutCopy.cshtml";
    ViewData["Title"] = "Update competition";
}
@model CoreFramework.Competition

<div class="row justify-content-lg-center">
    <h1>Update competition</h1>
</div>
@using (Html.BeginForm("Update", "Competition", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.idCompetition)
    <p>
        @Html.LabelFor(m => m.Name, "Name")
        <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.NameVenue, "Venue")
        <br />
        @Html.EditorFor(m => m.NameVenue)
    </p>
    <p>
        @Html.LabelFor(m => m.Street, "Street")
        <br />
        @Html.EditorFor(m => m.Street)
    </p>
    <p>
        @Html.LabelFor(m => m.Home, "Home")
        <br />
        @Html.EditorFor(m => m.Home)
    </p>
    <p>
        @Html.LabelFor(m => m.Date, "Date")
        <br />
        @Html.EditorFor(m => m.Date)
    </p>

    <p>
        @Html.LabelFor(m => m.idCity, "City")
        <br />
        <select asp-for="idCity" class="form-control">
            <option selected="selected" value=" @Html.EditorFor(m => m.City.Name)">  </option>
            @foreach (var city in CoreFramework.Connection.GetCities().ToList())
            {
                <option value="@city.idCity">@city.Name</option>
            }

        </select>
    </p>
    <p><input type="submit" value="OK" /></p>
</fieldset>
}
<div>
    <a asp-action="Index">Back to competitions list</a>
</div>